In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
data_original = pd.read_csv('../raw_data/train.csv')

In [4]:
data = data_original.copy()

In [5]:
#Number of open accounts: buckets (0-10, 11-20, mais de 20)
data['Number.of.Open.Accounts.Buckets'] = data['Number.of.Open.Accounts']

def encoding_noab(x):
    if x < 10:
        return '0-10'
    elif x > 20:
        return 'mais de 20'
    else:
        return '11-20'

data['Number.of.Open.Accounts.Buckets'] = data['Number.of.Open.Accounts.Buckets'].apply(encoding_noab)

In [7]:
data.drop(columns='Number.of.Open.Accounts')
data

,Loan.ID,Current.Loan.Amount,Term,Credit.Score,Years.in.current.job,Home.Ownership,Annual.Income,Purpose,Monthly.Debt,Years.of.Credit.History,Months.since.last.delinquent,Number.of.Open.Accounts,Number.of.Credit.Problems,Current.Credit.Balance,Maximum.Open.Credit,Bankruptcies,Tax.Liens,Loan.Status,Number.of.Open.Accounts.Buckets
0,0,17879,Short Term,739.0,6 years,Home Mortgage,95357.0,Debt Consolidation,1509.82,34.4,5.0,26,0,23986,40313,0.0,0.0,1,mais de 20
1,1,99999999,Long Term,619.0,6 years,Rent,54406.0,Debt Consolidation,1065.45,12.7,NaN,8,0,22938,31250,0.0,0.0,1,0-10
2,3,99999999,Short Term,738.0,less than 1 year,Rent,40480.0,Medical Bills,573.47,32.7,60.0,9,1,3963,5669,1.0,0.0,1,0-10
3,4,11200,Short Term,738.0,4 years,Rent,53965.0,Debt Consolidation,1358.11,15.8,NaN,8,1,11782,25951,1.0,0.0,1,0-10
4,5,3608,Short Term,731.0,10+ years,Home Mortgage,47709.0,Home Improvements,339.93,16.1,47.0,6,0,22909,25568,0.0,0.0,1,0-10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60799,84184,99999999,Short Term,725.0,3 years,Rent,52589.0,Business Loan,128.84,14.5,21.0,6,0,6160,14736,0.0,0.0,1,0-10
60800,84185,18229,Short Term,747.0,3 years,Rent,91143.0,Debt Consolidation,782.31,18.0,14.0,16,0,8328,51095,0.0,0.0,0,11-20
60801,84186,10165,Short Term,NaN,5 years,Rent,NaN,Buy a Car,156.44,8.9,NaN,10,0,5954,24400,0.0,0.0,1,11-20
60802,84187,99999999,Short Term,744.0,9 years,Rent,30450.0,Debt Consolidation,725.73,16.0,NaN,8,1,4446,7813,1.0,0.0,1,0-10
60803,84189,2866,Short Term,703.0,8 years,Home Mortgage,42991.0,Debt Consolidation,1164.35,23.0,67.0,6,0,39,9724,0.0,0.0,1,0-10

In [5]:
#Calculating current credit balance minus current loan amount
#if 'Credit.Minus.Loan'> 0, then, 1 (esta pedindo emprestimo menor do que tem de saldo disponivel, entao, ok); otherwise, 0

data['Credit.Minus.Loan'] = data['Current.Credit.Balance'] - data['Current.Loan.Amount']

def encoding_cml(x):
    if x > 0:
        return 1
    else:
        return 0

data['Credit.Minus.Loan'] = data['Credit.Minus.Loan'].apply(encoding_cml)

In [6]:
#Number of Number.of.Credit.Problems: 0, 1 ou mais de 1
data['Number.of.Credit.Problems.Buckets'] = data['Number.of.Credit.Problems']

def encoding_nocp(x):
    if x ==0:
        return 0
    elif x ==1:
        return 1
    else:
        return 'mais de 1'

data['Number.of.Credit.Problems.Buckets'] = data['Number.of.Credit.Problems.Buckets'].apply(encoding_nocp)