# Project493 - Encoding

In [1]:
import pandas as pd
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder

In [57]:
train_csv = '../raw_data/train.csv'
df_train = pd.read_csv(train_csv)
df_train

,Loan.ID,Current.Loan.Amount,Term,Credit.Score,Years.in.current.job,Home.Ownership,Annual.Income,Purpose,Monthly.Debt,Years.of.Credit.History,Months.since.last.delinquent,Number.of.Open.Accounts,Number.of.Credit.Problems,Current.Credit.Balance,Maximum.Open.Credit,Bankruptcies,Tax.Liens,Loan.Status
0,0,17879,Short Term,739.0,6 years,Home Mortgage,95357.0,Debt Consolidation,1509.82,34.4,5.0,26,0,23986,40313,0.0,0.0,1
1,1,99999999,Long Term,619.0,6 years,Rent,54406.0,Debt Consolidation,1065.45,12.7,NaN,8,0,22938,31250,0.0,0.0,1
2,3,99999999,Short Term,738.0,less than 1 year,Rent,40480.0,Medical Bills,573.47,32.7,60.0,9,1,3963,5669,1.0,0.0,1
3,4,11200,Short Term,738.0,4 years,Rent,53965.0,Debt Consolidation,1358.11,15.8,NaN,8,1,11782,25951,1.0,0.0,1
4,5,3608,Short Term,731.0,10+ years,Home Mortgage,47709.0,Home Improvements,339.93,16.1,47.0,6,0,22909,25568,0.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60799,84184,99999999,Short Term,725.0,3 years,Rent,52589.0,Business Loan,128.84,14.5,21.0,6,0,6160,14736,0.0,0.0,1
60800,84185,18229,Short Term,747.0,3 years,Rent,91143.0,Debt Consolidation,782.31,18.0,14.0,16,0,8328,51095,0.0,0.0,0
60801,84186,10165,Short Term,NaN,5 years,Rent,NaN,Buy a Car,156.44,8.9,NaN,10,0,5954,24400,0.0,0.0,1
60802,84187,99999999,Short Term,744.0,9 years,Rent,30450.0,Debt Consolidation,725.73,16.0,NaN,8,1,4446,7813,1.0,0.0,1
60803,84189,2866,Short Term,703.0,8 years,Home Mortgage,42991.0,Debt Consolidation,1164.35,23.0,67.0,6,0,39,9724,0.0,0.0,1

In [3]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60804 entries, 0 to 60803
Data columns (total 18 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Loan.ID                       60804 non-null  int64
 1   Current.Loan.Amount           60804 non-null  int64
 2   Term                          60804 non-null  object
 3   Credit.Score                  48575 non-null  float64
 4   Years.in.current.job          58275 non-null  object
 5   Home.Ownership                60804 non-null  object
 6   Annual.Income                 48575 non-null  float64
 7   Purpose                       60804 non-null  object
 8   Monthly.Debt                  60804 non-null  float64
 9   Years.of.Credit.History       60804 non-null  float64
 10  Months.since.last.delinquent  28329 non-null  float64
 11  Number.of.Open.Accounts       60804 non-null  int64
 12  Number.of.Credit.Problems     60804 non-null  int64
 13  Current.Credit.Balance        60804 non-null  int64
 14  Maximum.Open.Credit           60804 non-null  int64
 15  Bankruptcies                  60677 non-null  float64
 16  Tax.Liens                     60802 non-null  float64
 17  Loan.Status                   60804 non-null  int64
dtypes: float64(7), int64(7), object(4)
memory usage: 8.4+ MB

In [4]:
df_train.isnull().sum()

Loan.ID                             0
Current.Loan.Amount                 0
Term                                0
Credit.Score                    12229
Years.in.current.job             2529
Home.Ownership                      0
Annual.Income                   12229
Purpose                             0
Monthly.Debt                        0
Years.of.Credit.History             0
Months.since.last.delinquent    32475
Number.of.Open.Accounts             0
Number.of.Credit.Problems           0
Current.Credit.Balance              0
Maximum.Open.Credit                 0
Bankruptcies                      127
Tax.Liens                           2
Loan.Status                         0
dtype: int64

## 16) Encoding campo Term

16. Label encoder Term

FEITO: 'Short Term' = 0 E 'Long Term' = 1 NO CAMPO NOVO 'ter_enc'

In [5]:
df_train['Term'].unique()

array(['Short Term', 'Long Term'], dtype=object)

In [6]:
# PIPELINE -- Nao feito

oe_ter = OrdinalEncoder(categories=[['Short Term', 'Long Term']])
df_train['ter_enc'] = oe_ter.fit_transform(df_train[['Term']])

In [7]:
oe_ter.categories_

[array(['Short Term', 'Long Term'], dtype=object)]

In [8]:
df_train['ter_enc'].unique()

array([0., 1.])

In [9]:
df_train[['Term', 'ter_enc']]

             Term  ter_enc
0      Short Term      0.0
1       Long Term      1.0
2      Short Term      0.0
3      Short Term      0.0
4      Short Term      0.0
...           ...      ...
60799  Short Term      0.0
60800  Short Term      0.0
60801  Short Term      0.0
60802  Short Term      0.0
60803  Short Term      0.0

[60804 rows x 2 columns]

## 1) Encoding campo Years.in.current.job

1) Yrs in current jobs

FEITO: STRINGS CONVERTIDAS P/ INTEIROS DE 0 A 10 SENDO 'less than  1 year' E '10+ years' RESPECTIVAMENTE
NO CAMPO NOVO 'yicj_enc', OS NANS DEVERAO SUMIR APOS O DATA CLEANING

OBSERVACAO: VALORES NULOS PRECISAM SER SUBSTITUIDOS POR 0

In [10]:
df_train['Years.in.current.job'].unique()

array(['6 years', 'less than  1 year', '4 years', '10+ years', '5 years',
       '3 years', '8 years', '1 year', '2 years', '9 years', '7 years',
       nan], dtype=object)

In [11]:
# FUNCTION UTILS -- Feito

df_train['yicj_enc'] = df_train['Years.in.current.job'].map({'less than 1 year': 0,
                                                             '1 year': 1,
                                                             '2 years': 2,
                                                             '3 years': 3,
                                                             '4 years': 4,
                                                             '5 years': 5,
                                                             '6 years': 6,
                                                             '7 years': 7,
                                                             '8 years': 8,
                                                             '9 years': 9,
                                                             '10+ years': 10})

In [12]:
df_train['yicj_enc'].unique()

array([ 6., nan,  4., 10.,  5.,  3.,  8.,  1.,  2.,  9.,  7.])

In [13]:
df_train[['Years.in.current.job', 'yicj_enc']]

      Years.in.current.job  yicj_enc
0                  6 years       6.0
1                  6 years       6.0
2        less than  1 year       NaN
3                  4 years       4.0
4                10+ years      10.0
...                    ...       ...
60799              3 years       3.0
60800              3 years       3.0
60801              5 years       5.0
60802              9 years       9.0
60803              8 years       8.0

[60804 rows x 2 columns]

## 9) Encoding campo Purpose

9) Tipo de credito:
   a) Debt consolidation
   b) Home improvement
   c) Business loan
   d) Buy a car
   e) Medical bills
   f) Buy a house
   g) Others (juntar other + Other + o que sobrou, como moving, etc)

FEITO: CATEGORIAS ALTERADAS NO CAMPO NOVO 'pur_alt'

FEITO POREM NAO ESTA NO ESCOPO: STRINGS CONVERTIDAS P/ FEATURES BINÁRIAS NOS CAMPOS NOVOS
'pur_e_Debt Consolidation', 'pur_e_Medical Bills', 'pur_e_Home Improvements',
'pur_e_Other', 'pur_e_Business Loan', 'pur_e_Buy House', 'pur_e_Buy a Car'

In [14]:
df_train['Purpose'].unique()

array(['Debt Consolidation', 'Medical Bills', 'Home Improvements',
       'other', 'Business Loan', 'moving', 'small_business', 'Buy House',
       'Buy a Car', 'Take a Trip', 'Other', 'major_purchase', 'wedding',
       'Educational Expenses', 'vacation', 'renewable_energy'],
      dtype=object)

In [15]:
df_train['Purpose'].value_counts()

Debt Consolidation      47888
other                    3653
Home Improvements        3535
Other                    1975
Business Loan             910
Buy a Car                 765
Medical Bills             695
Buy House                 420
Take a Trip               296
major_purchase            213
small_business            170
moving                     83
Educational Expenses       70
vacation                   65
wedding                    64
renewable_energy            2
Name: Purpose, dtype: int64

In [16]:
# FUNCTION UTILS -- Feito

pur_cat_oth = ['other', 'moving', 'small_business', 'Take a Trip', 'major_purchase',
               'wedding', 'Educational Expenses', 'vacation', 'renewable_energy']

df_train['pur_alt'] = df_train['Purpose']

for cat_oth in pur_cat_oth:
    df_train.loc[df_train['pur_alt'] == cat_oth, 'pur_alt'] = 'Other'

In [17]:
df_train['pur_alt'].unique()

array(['Debt Consolidation', 'Medical Bills', 'Home Improvements',
       'Other', 'Business Loan', 'Buy House', 'Buy a Car'], dtype=object)

In [18]:
df_train['pur_alt'].value_counts()

Debt Consolidation    47888
Other                  6591
Home Improvements      3535
Business Loan           910
Buy a Car               765
Medical Bills           695
Buy House               420
Name: pur_alt, dtype: int64

In [19]:
df_train.loc[df_train['pur_alt'] == 'Other', ['Purpose', 'pur_alt']]

      Purpose pur_alt
6       other   Other
8       other   Other
11      other   Other
19     moving   Other
21      other   Other
...       ...     ...
60747   other   Other
60755   other   Other
60763   other   Other
60766   other   Other
60778   other   Other

[6591 rows x 2 columns]

In [20]:
# PIPELINE - nao feito

# NÃO ESTÁ NO ESCOPO DA MARIAM FAZER ESTE ENCODING!!!

ohe_pur = OneHotEncoder(sparse = False)
pur_encoded = ohe_pur.fit_transform(df_train[['pur_alt']])
df_train['pur_e_' + ohe_pur.categories_[0]] = pur_encoded
ohe_pur.categories_

[array(['Business Loan', 'Buy House', 'Buy a Car', 'Debt Consolidation',
        'Home Improvements', 'Medical Bills', 'Other'], dtype=object)]

In [21]:
df_train[['Purpose', 'pur_alt', 'pur_e_Debt Consolidation', 'pur_e_Medical Bills', 'pur_e_Home Improvements',
          'pur_e_Other', 'pur_e_Business Loan', 'pur_e_Buy House', 'pur_e_Buy a Car']]

,Purpose,pur_alt,pur_e_Debt Consolidation,pur_e_Medical Bills,pur_e_Home Improvements,pur_e_Other,pur_e_Business Loan,pur_e_Buy House,pur_e_Buy a Car
0,Debt Consolidation,Debt Consolidation,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Debt Consolidation,Debt Consolidation,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Medical Bills,Medical Bills,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,Debt Consolidation,Debt Consolidation,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Home Improvements,Home Improvements,0.0,0.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...
60799,Business Loan,Business Loan,0.0,0.0,0.0,0.0,1.0,0.0,0.0
60800,Debt Consolidation,Debt Consolidation,1.0,0.0,0.0,0.0,0.0,0.0,0.0
60801,Buy a Car,Buy a Car,0.0,0.0,0.0,0.0,0.0,0.0,1.0
60802,Debt Consolidation,Debt Consolidation,1.0,0.0,0.0,0.0,0.0,0.0,0.0
60803,Debt Consolidation,Debt Consolidation,1.0,0.0,0.0,0.0,0.0,0.0,0.0

## 2) Encoding campo Current.Loan.Amount / Annual.Income

2) Current loan amount / annual income: ???

NADA FOI FEITO CONFORME ACORDADO COM A MARIAM

## 3) Encoding campo Tax.Liens

3) Tax linens: 0 or 1

FEITO: TL==0 = 0 E TL>=1 = 1 NO CAMPO NOVO 'tl_enc'

OBSERVACAO: VALORES NULOS PRECISAM SER SUBSTITUIDOS POR 0

In [22]:
df_train['Tax.Liens'].unique()

array([ 0.,  1.,  4.,  2., nan,  3.,  5., 15.,  6.,  7., 10.,  9., 11.])

In [23]:
# FUNCTION UTILS -- feito

def encode_tl(x):
    if x == 0:
        x_enc = 0
    else:
        x_enc = 1
    return x_enc

df_train['tl_enc'] = df_train['Tax.Liens'].map(encode_tl)

In [24]:
df_train['tl_enc'].unique()

array([0, 1], dtype=int64)

In [25]:
df_train[['Tax.Liens', 'tl_enc']]

       Tax.Liens  tl_enc
0            0.0       0
1            0.0       0
2            0.0       0
3            0.0       0
4            0.0       0
...          ...     ...
60799        0.0       0
60800        0.0       0
60801        0.0       0
60802        0.0       0
60803        0.0       0

[60804 rows x 2 columns]

## 4) Feature Engineering campo leverage (alavancagem)

4) Medida de alavancagem (leverage): Annual debt (monthly debt * 12) / annual income
--> criar buckets? Ou deixar numero e fazer scaling

FEITO: ALAVANCAGEM CALCULADA NO CAMPO NOVO 'leverage'

OBSERVACAO: REGISTROS COM VALORES NULOS NO CAMPO 'Annual.Income' PRECISAM SER SUBSTITUIDOS ELIMINADOS

In [26]:
df_train[['Monthly.Debt', 'Annual.Income']].isnull().sum()

Monthly.Debt         0
Annual.Income    12229
dtype: int64

In [27]:
# ENCODER - feito na funcao leverage

df_train['leverage'] = (df_train['Monthly.Debt'] * 12) / df_train['Annual.Income']

In [28]:
df_train[['Monthly.Debt', 'Annual.Income', 'leverage']]

       Monthly.Debt  Annual.Income  leverage
0           1509.82        95357.0  0.190000
1           1065.45        54406.0  0.235000
2            573.47        40480.0  0.170001
3           1358.11        53965.0  0.301998
4            339.93        47709.0  0.085501
...             ...            ...       ...
60799        128.84        52589.0  0.029399
60800        782.31        91143.0  0.103000
60801        156.44            NaN       NaN
60802        725.73        30450.0  0.286002
60803       1164.35        42991.0  0.325003

[60804 rows x 3 columns]

## 5) Encoding campo Current.Credit.Balance / Maximum.Open.Credit

5) Current credit balance / maximum open credit

NADA FOI FEITO CONFORME ACORDADO COM A MARIAM

## 6) Encoding campo Credit.Score

6) Credit score: criar buckets: 
 - Poor (579 and below)
 - Below Average (580-619)
 - Average (620-659)
 - Good (660-719)
 - Excellent (720 and above)

FEITO: CATEGORIAS CRIADAS NO CAMPO NOVO 'cs_enc'

OBSERVACAO: REGISTROS COM VALORES NULOS NESTE CAMPO PRECISAM SER SUBSTITUIDOS ELIMINADOS

In [29]:
df_train['Credit.Score'].isnull().sum()

12229

In [30]:
df_train['Credit.Score'].describe()

count    48575.000000
mean      1104.772331
std       1526.402013
min        585.000000
25%        707.000000
50%        726.000000
75%        741.000000
max       7510.000000
Name: Credit.Score, dtype: float64

In [31]:
# FUNCTION UTILS -- feito

def encode_cs(x):
    if x >= 720:
        x_enc = 'Excellent'
    elif x >= 660:
        x_enc = 'Good'
    elif x >= 620:
        x_enc = 'Average'
    elif x >= 580:
        x_enc = 'Below Average'
    else:
        x_enc = 'Poor'
    return x_enc

df_train['cs_enc'] = df_train['Credit.Score'].map(encode_cs)

In [32]:
df_train['cs_enc'].unique()

array(['Excellent', 'Below Average', 'Good', 'Poor', 'Average'],
      dtype=object)

In [33]:
df_train[['Credit.Score', 'cs_enc']]

       Credit.Score         cs_enc
0             739.0      Excellent
1             619.0  Below Average
2             738.0      Excellent
3             738.0      Excellent
4             731.0      Excellent
...             ...            ...
60799         725.0      Excellent
60800         747.0      Excellent
60801           NaN           Poor
60802         744.0      Excellent
60803         703.0           Good

[60804 rows x 2 columns]

## 7) Encoding campo Years.of.Credit.History

7) Yrs of credit history: criar 4 buckets? (0-10; 10.01-20; 20.01-30; > 30.01)

FEITO: CATEGORIAS CRIADAS NO CAMPO NOVO 'yoch_enc'

In [34]:
df_train['Years.of.Credit.History'].isnull().sum()

0

In [35]:
df_train['Years.of.Credit.History'].describe()

count    60804.000000
mean        18.235654
std          7.030016
min          3.600000
25%         13.500000
50%         17.000000
75%         21.700000
max         60.500000
Name: Years.of.Credit.History, dtype: float64

In [36]:
# bins = pd.IntervalIndex.from_tuples([(0, 10), (10.1, 20), (20.1, 30), (30.1, 100)])

# df_train['yoch_enc'] = pd.cut(x=df_train['Years.of.Credit.History'],
#                               bins=bins,
#                               labels=['1', '2', '3', '4'])

In [37]:
# FUNCTION UTILS -- feito

df_train['yoch_enc'] = pd.cut(x=df_train['Years.of.Credit.History'],
                              bins=[-1, 10, 20, 30, 100],
                              labels=['0 a 10', '10.1 a 20', '20.1 a 30', '30+'])

In [38]:
df_train['yoch_enc'].unique()

['30+', '10.1 a 20', '20.1 a 30', '0 a 10']
Categories (4, object): ['0 a 10' < '10.1 a 20' < '20.1 a 30' < '30+']

In [39]:
df_train[['Years.of.Credit.History', 'yoch_enc']]

       Years.of.Credit.History   yoch_enc
0                         34.4        30+
1                         12.7  10.1 a 20
2                         32.7        30+
3                         15.8  10.1 a 20
4                         16.1  10.1 a 20
...                        ...        ...
60799                     14.5  10.1 a 20
60800                     18.0  10.1 a 20
60801                      8.9     0 a 10
60802                     16.0  10.1 a 20
60803                     23.0  20.1 a 30

[60804 rows x 2 columns]

## 8) Encoding campo Bankruptcies

8) Bankruptcies: ja decretou falencia? Sim (> = 1) ou nao (0)

FEITO: CATEGORIAS CRIADAS NO CAMPO NOVO 'ban_enc'

OBSERVACAO: VALORES NULOS PRECISAM SER SUBSTITUIDOS POR 0

In [40]:
df_train['Bankruptcies'].unique()

array([ 0.,  1.,  3.,  2., nan,  5.,  4.,  6.])

In [41]:
# FUNCTION UTILS -- feito

def encode_ban(x):
    if x == 0:
        x_enc = 0
    else:
        x_enc = 1
    return x_enc

df_train['ban_enc'] = df_train['Bankruptcies'].map(encode_ban)

In [42]:
df_train['ban_enc'].unique()

array([0, 1], dtype=int64)

In [43]:
df_train[['Bankruptcies', 'ban_enc']]

       Bankruptcies  ban_enc
0               0.0        0
1               0.0        0
2               1.0        1
3               1.0        1
4               0.0        0
...             ...      ...
60799           0.0        0
60800           0.0        0
60801           0.0        0
60802           1.0        1
60803           0.0        0

[60804 rows x 2 columns]

## 10) Encoding campo Months.since.last.delinquent

10. Any delinquency in the past 3 yrs? Dividir meses por 12 --> se o resultado for menor que 3 (0 a 3), resultado eh sim e vira "1".  Se for > 3 ou NA, vira "0".

FEITO: CATEGORIAS CRIADAS NO CAMPO NOVO 'msld_enc'

OBSERVACAO: ENTENDI QUE OS VALORES EM BRANCO CORRESPONDEM A NAO EXISTENCIA DE INADIMPLENCIA

In [44]:
df_train['Months.since.last.delinquent'].isnull().sum()

32475

In [45]:
df_train['Months.since.last.delinquent'].describe()

count    28329.000000
mean        34.859402
std         21.976407
min          0.000000
25%         16.000000
50%         32.000000
75%         51.000000
max        176.000000
Name: Months.since.last.delinquent, dtype: float64

In [46]:
# ENCODE --feito

df_train['Months.since.last.delinquent_years'] = df_train['Months.since.last.delinquent'] / 12

In [47]:
# CLEAN - feito

df_train.loc[df_train['Months.since.last.delinquent_years'].isnull(), 'Months.since.last.delinquent_years'] = 100
df_train['Months.since.last.delinquent_years'].isnull().sum()

0

In [48]:
# FUNCTION UTILS -- feito junto com encode

def encode_msld(x):
    if x <= 3:
        return 1
    else:
        return 0

df_train['msld_enc'] = df_train['Months.since.last.delinquent_years'].map(encode_msld)

In [49]:
df_train[['Months.since.last.delinquent', 'Months.since.last.delinquent_years', 'msld_enc']]

,Months.since.last.delinquent,Months.since.last.delinquent_years,msld_enc
0,5.0,0.416667,1
1,NaN,100.000000,0
2,60.0,5.000000,0
3,NaN,100.000000,0
4,47.0,3.916667,0
...,...,...,...
60799,21.0,1.750000,1
60800,14.0,1.166667,1
60801,NaN,100.000000,0
60802,NaN,100.000000,0
60803,67.0,5.583333,0

FINALIZADO!