# Project493 - Data Engineering

2) Transformers

   2.1. Original encoder: Term

   2.2. Label encoder (tem relacao de ordem):
   
               * Number.of.Open.Accounts.Bucket (0, 1, 2)
               * Number.of.Credit.Problems.Buckets (0, 1, 2)
               * Credit.Score.Buckets (0, 1, 2, 3, 4)
               * Years.of.Credit.History.enc (0, 1, 2, 3)

   2.3. One hot encoder (OHE): 
   
              * Home.Ownership
              * Purpose.Categories

In [1]:
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder

In [2]:
# BLOCO DE COMANDO PASSADO PELO SANDER P/ ACESSO AOS DADOS LIMPOS E ENCODADOS
import sys
import os
sys.path.append(os.path.dirname(os.getcwd()))
from wanna_buy_house import data
from wanna_buy_house import utils
data = data.final_treatment()

get_data 0.14

In [3]:
data

,Current.Loan.Amount,Term,Home.Ownership,Annual.Income,Current.Credit.Balance,Loan.Status,Number.of.Open.Accounts.Buckets,Credit.Minus.Loan,Number.of.Credit.Problems.Buckets,Years.current_job_enc,Purpose_enc,Tax.Liens.Enc,leverage,Credit.Score.Enc,Year.Credit.History.Enc,Bankruptcies.enc,Years.since.last.delinquent,Loan.vs.Income
0,17879,Short Term,Home Mortgage,95357.0,23986,1,mais de 20,1,0,6,Debt Consolidation,0,0.190000,Excellent,30+,0,1,0.187495
3,11200,Short Term,Rent,53965.0,11782,1,0-10,1,1,4,Debt Consolidation,0,0.301998,Excellent,10.1 a 20,1,0,0.207542
4,3608,Short Term,Home Mortgage,47709.0,22909,1,0-10,1,0,10,Home Improvements,0,0.085501,Excellent,10.1 a 20,0,0,0.075625
5,7877,Short Term,Home Mortgage,47707.0,1837,1,11-20,0,1,5,Home Improvements,0,0.127000,Excellent,10.1 a 20,1,0,0.165112
6,4732,Long Term,Rent,62721.0,0,0,0-10,0,0,10,Other,0,0.056798,Good,20.1 a 30,0,0,0.075445
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60794,14885,Short Term,Rent,124875.0,14684,1,11-20,0,0,6,Debt Consolidation,0,0.047101,Excellent,0 a 10,0,0,0.119199
60795,5086,Short Term,Home Mortgage,50855.0,7671,1,11-20,1,0,1,Debt Consolidation,0,0.197000,Excellent,10.1 a 20,0,0,0.100010
60797,27840,Long Term,Home Mortgage,99430.0,34938,1,mais de 20,1,0,10,Debt Consolidation,0,0.292000,Below Average,30+,0,0,0.279996
60800,18229,Short Term,Rent,91143.0,8328,0,11-20,0,0,3,Debt Consolidation,0,0.103000,Excellent,10.1 a 20,0,1,0.200004
60803,2866,Short Term,Home Mortgage,42991.0,39,1,0-10,0,0,8,Debt Consolidation,0,0.325003,Good,20.1 a 30,0,0,0.066665

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 41178 entries, 0 to 60803
Data columns (total 18 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Current.Loan.Amount                41178 non-null  int64
 1   Term                               41178 non-null  object
 2   Home.Ownership                     41178 non-null  object
 3   Annual.Income                      41178 non-null  float64
 4   Current.Credit.Balance             41178 non-null  int64
 5   Loan.Status                        41178 non-null  int64
 6   Number.of.Open.Accounts.Buckets    41178 non-null  object
 7   Credit.Minus.Loan                  41178 non-null  int64
 8   Number.of.Credit.Problems.Buckets  41178 non-null  object
 9   Years.current_job_enc              41178 non-null  int64
 10  Purpose_enc                        41178 non-null  object
 11  Tax.Liens.Enc                      41178 non-null  int64
 12  leverage                           41178 non-null  float64
 13  Credit.Score.Enc                   41178 non-null  object
 14  Year.Credit.History.Enc            41178 non-null  category
 15  Bankruptcies.enc                   41178 non-null  int64
 16  Years.since.last.delinquent        41178 non-null  int64
 17  Loan.vs.Income                     41178 non-null  float64
dtypes: category(1), float64(3), int64(8), object(6)
memory usage: 5.7+ MB

In [5]:
data.isnull().sum()

Current.Loan.Amount                  0
Term                                 0
Home.Ownership                       0
Annual.Income                        0
Current.Credit.Balance               0
Loan.Status                          0
Number.of.Open.Accounts.Buckets      0
Credit.Minus.Loan                    0
Number.of.Credit.Problems.Buckets    0
Years.current_job_enc                0
Purpose_enc                          0
Tax.Liens.Enc                        0
leverage                             0
Credit.Score.Enc                     0
Year.Credit.History.Enc              0
Bankruptcies.enc                     0
Years.since.last.delinquent          0
Loan.vs.Income                       0
dtype: int64


# 2.1. Original encoder: Term

In [6]:
data['Term'].unique()

array(['Short Term', 'Long Term'], dtype=object)

In [7]:
# PIPELINE
# OU
# PIPELINE P/ DATA APENAS LIMPA (DATA CLEAN) USADA DIRETAMENTE NA PIPELINE (COM COLUNAS ORIGINAIS SEM ENCODING/SCALING)

oe_ter = OrdinalEncoder(categories=[['Short Term', 'Long Term']])
data['ter_enc'] = oe_ter.fit_transform(data[['Term']])

In [8]:
oe_ter.categories_

[array(['Short Term', 'Long Term'], dtype=object)]

In [9]:
data['ter_enc'].unique()

array([0., 1.])

In [10]:
data[['Term', 'ter_enc']]

             Term  ter_enc
0      Short Term      0.0
3      Short Term      0.0
4      Short Term      0.0
5      Short Term      0.0
6       Long Term      1.0
...           ...      ...
60794  Short Term      0.0
60795  Short Term      0.0
60797   Long Term      1.0
60800  Short Term      0.0
60803  Short Term      0.0

[41178 rows x 2 columns]

# 2.2. Label encoder (tem relacao de ordem):
# * Number.of.Open.Accounts.Bucket (0, 1, 2)

In [11]:
data['Number.of.Open.Accounts.Buckets'].unique()

array(['mais de 20', '0-10', '11-20'], dtype=object)

In [12]:
# FUNCTION UTILS

data['nooab_enc'] = data['Number.of.Open.Accounts.Buckets'].map({'0-10': 0,
                                                                 '11-20': 1,
                                                                 'mais de 20': 2})

In [13]:
# PIPELINE P/ DATA APENAS LIMPA (DATA CLEAN) USADA DIRETAMENTE NA PIPELINE (COM COLUNAS ORIGINAIS SEM ENCODING/SCALING)

# def encode_nooab(x):
#     if x > 20:
#         x_enc = 2
#     elif x >= 11:
#         x_enc = 1
#     else:
#         x_enc = 0
#     return x_enc

# data['nooa_enc'] = data['Number.of.Open.Accounts'].map(encode_nooab)

In [14]:
data['nooab_enc'].unique()

array([2, 0, 1], dtype=int64)

In [15]:
data[['Number.of.Open.Accounts.Buckets', 'nooab_enc']]

      Number.of.Open.Accounts.Buckets  nooab_enc
0                          mais de 20          2
3                                0-10          0
4                                0-10          0
5                               11-20          1
6                                0-10          0
...                               ...        ...
60794                           11-20          1
60795                           11-20          1
60797                      mais de 20          2
60800                           11-20          1
60803                            0-10          0

[41178 rows x 2 columns]

# 2.2. Label encoder (tem relacao de ordem):
# * Number.of.Credit.Problems.Buckets (0, 1, 2)

In [16]:
data['Number.of.Credit.Problems.Buckets'].unique()

array([0, 1, 'mais de 1'], dtype=object)

In [17]:
# FUNCTION UTILS

data['nocpb_enc'] = data['Number.of.Credit.Problems.Buckets'].map({0: 0,
                                                                   1: 1,
                                                                   'mais de 1': 2})

In [18]:
# PIPELINE P/ DATA APENAS LIMPA (DATA CLEAN) USADA DIRETAMENTE NA PIPELINE (COM COLUNAS ORIGINAIS SEM ENCODING/SCALING)

# def encode_nocp(x):
#     if x > 1:
#         x_enc = 2
#     elif x = 1:
#         x_enc = 1
#     else:
#         x_enc = 0
#     return x_enc

# data['nocp_enc'] = data['Number.of.Credit.Problems'].map(encode_nocp)

In [19]:
data['nocpb_enc'].unique()

array([0, 1, 2], dtype=int64)

In [20]:
data[['Number.of.Credit.Problems.Buckets', 'nocpb_enc']]

      Number.of.Credit.Problems.Buckets  nocpb_enc
0                                     0          0
3                                     1          1
4                                     0          0
5                                     1          1
6                                     0          0
...                                 ...        ...
60794                                 0          0
60795                                 0          0
60797                                 0          0
60800                                 0          0
60803                                 0          0

[41178 rows x 2 columns]

# 2.2. Label encoder (tem relacao de ordem):
# * Credit.Score.Buckets (0, 1, 2, 3, 4)

In [21]:
data['Credit.Score.Enc'].unique()

array(['Excellent', 'Good', 'Average', 'Below Average'], dtype=object)

In [22]:
# FUNCTION UTILS

data['cse_enc'] = data['Credit.Score.Enc'].map({'Below Average': 0,
                                                'Average': 1,
                                                'Good': 2,
                                                'Excellent': 3})

In [23]:
# PIPELINE P/ DATA APENAS LIMPA (DATA CLEAN) USADA DIRETAMENTE NA PIPELINE (COM COLUNAS ORIGINAIS SEM ENCODING/SCALING)

# def encode_cs(x):
#     if x >= 720:
#         x_enc = 3
#     elif x >= 660:
#         x_enc = 2
#     elif x >= 620:
#         x_enc = 1
#     else:
#         x_enc = 0
#     return x_enc

# data['cs_enc'] = data['Credit.Score'].map(encode_cs)

In [24]:
data['cse_enc'].unique()

array([3, 2, 1, 0], dtype=int64)

In [25]:
data[['Credit.Score.Enc', 'cse_enc']]

      Credit.Score.Enc  cse_enc
0            Excellent        3
3            Excellent        3
4            Excellent        3
5            Excellent        3
6                 Good        2
...                ...      ...
60794        Excellent        3
60795        Excellent        3
60797    Below Average        0
60800        Excellent        3
60803             Good        2

[41178 rows x 2 columns]

# 2.2. Label encoder (tem relacao de ordem):
# * Years.of.Credit.History.enc (0, 1, 2, 3)

In [26]:
data['Year.Credit.History.Enc'].unique()

['30+', '10.1 a 20', '20.1 a 30', '0 a 10']
Categories (4, object): ['0 a 10' < '10.1 a 20' < '20.1 a 30' < '30+']

In [27]:
# FUNCTION UTILS

data['yche_enc'] = data['Year.Credit.History.Enc'].map({'0 a 10': 0,
                                                        '10.1 a 20': 1,
                                                        '20.1 a 30': 2,
                                                        '30+': 3})

In [28]:
# PIPELINE P/ DATA APENAS LIMPA (DATA CLEAN) USADA DIRETAMENTE NA PIPELINE (COM COLUNAS ORIGINAIS SEM ENCODING/SCALING)

# data['yoch_enc'] = pd.cut(x=data['Years.of.Credit.History'],
#                           bins=[-1, 10, 20, 30, 100],
#                           labels=[0, 1, 2, 3])

In [29]:
data['yche_enc'].unique()

[3, 1, 2, 0]
Categories (4, int64): [0 < 1 < 2 < 3]

In [30]:
data[['Year.Credit.History.Enc', 'yche_enc']]

      Year.Credit.History.Enc yche_enc
0                         30+        3
3                   10.1 a 20        1
4                   10.1 a 20        1
5                   10.1 a 20        1
6                   20.1 a 30        2
...                       ...      ...
60794                  0 a 10        0
60795               10.1 a 20        1
60797                     30+        3
60800               10.1 a 20        1
60803               20.1 a 30        2

[41178 rows x 2 columns]

# 2.3. One hot encoder (OHE):
# * Home.Ownership

In [31]:
data['Home.Ownership'].unique()

array(['Home Mortgage', 'Rent', 'Own Home'], dtype=object)

In [32]:
# PIPELINE

# OU

# PIPELINE P/ DATA APENAS LIMPA (DATA CLEAN) USADA DIRETAMENTE NA PIPELINE (COM COLUNAS ORIGINAIS SEM ENCODING/SCALING)
# NESTE CASO ESTÁ FALTANDO A CONVERSAO DA CATEGORIA "HAVEMORTGAGE" PARA "HOME MORTGAGE"

ohe_ho = OneHotEncoder(sparse = False)
ho_encoded = ohe_ho.fit_transform(data[['Home.Ownership']])
data['ho_e_' + ohe_ho.categories_[0]] = ho_encoded

In [33]:
ohe_ho.categories_

[array(['Home Mortgage', 'Own Home', 'Rent'], dtype=object)]

In [34]:
data.columns

Index(['Current.Loan.Amount', 'Term', 'Home.Ownership', 'Annual.Income',
       'Current.Credit.Balance', 'Loan.Status',
       'Number.of.Open.Accounts.Buckets', 'Credit.Minus.Loan',
       'Number.of.Credit.Problems.Buckets', 'Years.current_job_enc',
       'Purpose_enc', 'Tax.Liens.Enc', 'leverage', 'Credit.Score.Enc',
       'Year.Credit.History.Enc', 'Bankruptcies.enc',
       'Years.since.last.delinquent', 'Loan.vs.Income', 'ter_enc', 'nooab_enc',
       'nocpb_enc', 'cse_enc', 'yche_enc', 'ho_e_Home Mortgage',
       'ho_e_Own Home', 'ho_e_Rent'],
      dtype='object')

In [35]:
data[['Home.Ownership', 'ho_e_Home Mortgage', 'ho_e_Own Home', 'ho_e_Rent']]

      Home.Ownership  ho_e_Home Mortgage  ho_e_Own Home  ho_e_Rent
0      Home Mortgage                 1.0            0.0        0.0
3               Rent                 0.0            0.0        1.0
4      Home Mortgage                 1.0            0.0        0.0
5      Home Mortgage                 1.0            0.0        0.0
6               Rent                 0.0            0.0        1.0
...              ...                 ...            ...        ...
60794           Rent                 0.0            0.0        1.0
60795  Home Mortgage                 1.0            0.0        0.0
60797  Home Mortgage                 1.0            0.0        0.0
60800           Rent                 0.0            0.0        1.0
60803  Home Mortgage                 1.0            0.0        0.0

[41178 rows x 4 columns]

# 2.3. One hot encoder (OHE):
# * Purpose.Categories

In [36]:
data['Purpose_enc'].unique()

array(['Debt Consolidation', 'Home Improvements', 'Other',
       'Business Loan', 'Buy a Car', 'Buy House', 'Medical Bills'],
      dtype=object)

In [37]:
# PIPELINE

ohe_pur = OneHotEncoder(sparse = False)
pur_encoded = ohe_pur.fit_transform(data[['Purpose_enc']])
data['pur_e_' + ohe_pur.categories_[0]] = pur_encoded

In [38]:
# PIPELINE P/ DATA APENAS LIMPA (DATA CLEAN) USADA DIRETAMENTE NA PIPELINE (COM COLUNAS ORIGINAIS SEM ENCODING/SCALING)

# AGRUPAMENTO DE CATEGORIAS EM OTHERS - EU JÁ HAVIA APRESENTADO ISTO
# data['pur_alt'] = data['Purpose']
# pur_cat_oth = ['other', 'moving', 'small_business', 'Take a Trip', 'major_purchase',
#                'wedding', 'Educational Expenses', 'vacation', 'renewable_energy']
# for cat_oth in pur_cat_oth:
#     data.loc[data['pur_alt'] == cat_oth, 'pur_alt'] = 'Other'

# ENCODING
# ohe_pur = OneHotEncoder(sparse = False)
# pur_encoded = ohe_pur.fit_transform(data[['pur_alt']])
# data['pur_e_' + ohe_pur.categories_[0]] = pur_encoded

In [39]:
ohe_pur.categories_

[array(['Business Loan', 'Buy House', 'Buy a Car', 'Debt Consolidation',
        'Home Improvements', 'Medical Bills', 'Other'], dtype=object)]

In [40]:
data[['Purpose_enc', 'pur_e_Debt Consolidation', 'pur_e_Medical Bills', 'pur_e_Home Improvements',
      'pur_e_Other', 'pur_e_Business Loan', 'pur_e_Buy House', 'pur_e_Buy a Car']]

,Purpose_enc,pur_e_Debt Consolidation,pur_e_Medical Bills,pur_e_Home Improvements,pur_e_Other,pur_e_Business Loan,pur_e_Buy House,pur_e_Buy a Car
0,Debt Consolidation,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Debt Consolidation,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Home Improvements,0.0,0.0,1.0,0.0,0.0,0.0,0.0
5,Home Improvements,0.0,0.0,1.0,0.0,0.0,0.0,0.0
6,Other,0.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
60794,Debt Consolidation,1.0,0.0,0.0,0.0,0.0,0.0,0.0
60795,Debt Consolidation,1.0,0.0,0.0,0.0,0.0,0.0,0.0
60797,Debt Consolidation,1.0,0.0,0.0,0.0,0.0,0.0,0.0
60800,Debt Consolidation,1.0,0.0,0.0,0.0,0.0,0.0,0.0
60803,Debt Consolidation,1.0,0.0,0.0,0.0,0.0,0.0,0.0

## FINALIZADO!!!